<h1>Create a new Outfit!</h1>

<form action="/outfits" method="POST">
  <label>Outfit Name:</label>
  <br>
  <input type="text" name="name" id="name"></input>
  <br>
  <br>
  <label>New Top:</label>
  <br>
  <input type="text" name="tops" id="tops" ></input>
  <br>
  <br>
  <label>New Bottoms:</label>
  <br>
  <input type="text" name="bottoms" id="bottoms"></input>
  <br>
  <input type="submit" value="Make New Outfit">
  </form>