<h1>Create a new Outfit!</h1>

<form action="/outfits" method="POST">
  <label>Outfit Name:</label>
  <br>
  <input type="text" name="name" id="name"></input>
  <br>
  <label>Top:</label>
  <br>
  <input type="text" name="tops" id="tops"></input>
  <br>
  <label>Bottoms:</label>
  <br>
  <input type="text" name="bottoms" id="bottoms"></input>
  <br>
  <input type="submit" value="Done">
  </form>