<h1>Welcome to Outfitt3r!</h1>
<h2>Log In</h2>

<form action="/login" method="POST">
  <label>User Name:</label>
  <br>
  <input type="text" name="username" id="username"></input>
  <br>
  <label>Password:</label>
  <br>
  <input type="password" name="password" id="password"></input>
  <br>
  <input type="submit" value="Log In">
</form>
<br>
<br>
<label>No account? Create a new one below!</label>
<br>
<a href="/signup">Sign up!</a>
