<h1> Create a new User!</h1>

<form action="/signup" method="POST">
  <label>User Name:</label>
  <br>
  <input type="text" name="username" id="username"></input>
  <br>
  <label>Email:</label>
  <br>
  <input type="text" name="email" id="email"></input>
  <br>
  <label>Password:</label>
  <br>
  <input type="text" name="password" id="password"></input>
  <br>
  <input type="submit" value="Create User">
</form>